.header {
  background-color: #365899;
  padding: 5px 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 1px;
}
.col-sm-7{
  margin-top: 100px;
  font-style: italic;
  text-align: center;
}

.type-text{
   display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid #365899;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 60% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: #365899; 
    }
}

